extends layout

block content
  form
    input#content
    button Send
  #messages
  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.3.min.js')
  script().
    var socket = io();
    $('form').submit(function(){
      socket.emit('message from client', $('#content').val());
      $('#content').val('');
      return false;
    });
    socket.on('message from server', function(message){
      $('#messages').append($('<p>').text(message));
    });
